@{
    ViewBag.Title = "Información Adicional";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <h3>
        Este pequeño proyecto tiene un valor agregado, ya que cuenta con el consumo de una API REST basada en NodeJS y montada sobre un servicio gratuito de Heroku.</h3>
    <h3>
        La manera en que se basa el consumo del API REST es haciendo una petición de tipo GET al servidor y este devuelve un JSON que contiene el texto solicitado para redactar la fábula.</h3>
    <h3>
        Este ejercicio me pareció muy trivial. Incluso llegue a pensar que trataba sobre un software para la administración de la relación con los clientes (CRM).</h3>
    <br />
    <br />
    <p>
        <a href="/" class="btn btn-success btn-lg">Inicio &raquo;</a>
    </p>
</div>





