
<center>
    <h3>@ViewBag.Message</h3>


    <img src="/img/carrera/capitulo-4-1.jpg" height="500" width="500" />
</center>



<footer>
    <p>
        <a href="Tercero" class="btn btn-primary btn-lg">Anterior</a>
        <a href="Quinto" class="btn btn-success btn-lg">Siguiente &raquo;</a>
    </p>
</footer>