@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>Final</h1>





<footer>
    <p>
        <a href="1" class="btn btn-primary btn-lg">Anterior</a>
        <a href="2" class="btn btn-success btn-lg">Siguiente &raquo;</a>
    </p>
</footer>