

<div class="jumbotron">
    <h1>La Liebre y la Tortuga</h1>
    <p class="lead">
        Esa es una fábula, que enseña a los niños el valor de la persistencia y del esfuerzo.
    </p>

    <center>
        <img src="/img/portada.jpg" />
    </center>
    <br />
    <br />
    <br />
    <p>
        <a href="Home/Personajes" class="btn btn-primary btn-lg">Personajes</a>
        <a href="Home/Primero" class="btn btn-success btn-lg">Comenzar &raquo;</a>
    </p>
    <br />
    <p class="center-block">
    <p>
        <a href="Home/About" class="btn btn btn-lg">Información adicional. </a>
    </p>
    </p>

</div>
