@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<center>
    <h3>@ViewBag.Message</h3>


    <img src="/img/carrera/capitulo-6.jpg"  height="500" width="500" />
</center>


<footer>
    <p>
        <a href="Quinto" class="btn btn-primary btn-lg">Anterior</a>
        <a href="Septimo" class="btn btn-success btn-lg">Siguiente &raquo;</a>
    </p>
</footer>