
<center>
    <h3>@ViewBag.Message</h3>


    <img src="/img/carrera/capitulo-3.jpg"  height="500" width="500" />
</center>

<footer>
    <p>
        <a href="Segundo" class="btn btn-primary btn-lg">Anterior</a>
        <a href="Cuarto" class="btn btn-success btn-lg">Siguiente &raquo;</a>
    </p>
</footer>